<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.E">
  		      
  <select id="f" parameterType="hashmap" resultType="com.boot.dto.H">
	SELECT COUNTRY_ID
	        ,COUNTRY_NAME
	        ,REGION_ID
	FROM COUNTRIES 
  </select> 

</mapper>